jupyterlab >= 4.0
matplotlib >= 3.7.1
# tensorflow[and-cuda]==2.14.0
tqdm >= 4.62.3
numpy >= 1.23.5 , < 2.0
pandas >= 2.2.1
psutil >= 5.9.5
accelerate==0.26.1
ipython==8.18.1
ipywidgets==8.1.2
Pillow==9.4.0
quanto==0.0.11
transformers==4.35.0
sentencepiece==0.2.0
seaborn==0.13.1
scipy==1.15.0
loguru==0.7.3
dynaconf==3.2.6